body{
	background-color: #EEEEEE;
}

.panel{
	padding: 15px;
	margin: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.results{
	min-height: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}

.errorMessage{
	display: none;
}

.errorMessage.shown{
	display: block;
	color: red;
	padding-top: 10px;
}

table{
	margin: 15px auto;
}

table .table-month td{
	background-color: #E7F5CE;
}

table td.weekends{
	background-color: #F8FB29;
}

table td.weekday{
	background-color: #C4DC90;
}

table th{
	text-align: center;
	height: 25px;
	width: 25px;
}

table td{
	background-color: #CBCBCB;
	text-align: center;
	height: 25px;
	width: 25px;
	border: 1px solid white;
}

